PANDAS DAY 1

In [3]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [4]:
df = pd.read_csv('population.csv')

In [5]:
df.head()

,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729.0,619550,316864,302644,42,104.70,...,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97
1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500.0,540342,273788,266500,54,102.73,...,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01
2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536.0,361240,182655,178541,44,102.30,...,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06
3,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,HAROONABAD TEHSIL,1295.0,382115,192278,189808,29,101.30,...,297343,1.33,142600,71345,71236,19,100.15,6.02,84424,2.79
4,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,MINCHINABAD TEHSIL,1818.0,452723,231506,221178,39,104.67,...,316593,1.90,72294,36694,35590,10,103.10,6.34,37668,3.48

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROVINCE                    528 non-null    object
 1   DIVISION                    528 non-null    object
 2   DISTRICT                    528 non-null    object
 3   SUB DIVISION                528 non-null    object
 4   AREA (sq.km)                528 non-null    float64
 5   ALL SEXES (RURAL)           528 non-null    int64
 6   MALE (RURAL)                528 non-null    int64
 7   FEMALE (RURAL)              528 non-null    int64
 8   TRANSGENDER (RURAL)         528 non-null    int64
 9   SEX RATIO (RURAL)           528 non-null    float64
 10  AVG HOUSEHOLD SIZE (RURAL)  528 non-null    float64
 11  POPULATION 1998 (RURAL)     528 non-null    int64
 12  ANNUAL GROWTH RATE (RURAL)  528 non-null    float64
 13  ALL SEXES (URBAN)           528 non-null    int64
 14  MALE (URBAN)                528 non-null    int64
 15  FEMALE (URBAN)              528 non-null    int64
 16  TRANSGENDER (URBAN)         528 non-null    int64
 17  SEX RATIO (URBAN)           528 non-null    float64
 18  AVG HOUSEHOLD SIZE (URBAN)  528 non-null    float64
 19  POPULATION 1998 (URBAN)     528 non-null    int64
 20  ANNUAL GROWTH RATE (URBAN)  528 non-null    float64
dtypes: float64(7), int64(10), object(4)
memory usage: 86.8+ KB

In [7]:
df.describe()

,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),AVG HOUSEHOLD SIZE (RURAL),POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
count,528.000000,5.280000e+02,5.280000e+02,5.280000e+02,528.000000,528.000000,528.000000,5.280000e+02,528.000000,5.280000e+02,5.280000e+02,5.280000e+02,528.000000,528.000000,528.000000,5.280000e+02,528.000000
mean,1492.005871,2.462780e+05,1.252757e+05,1.209841e+05,18.174242,98.982614,6.277064,1.674280e+05,3.124792,1.408635e+05,7.284339e+04,6.799787e+04,22.276515,75.411269,4.406402,8.014457e+04,1.920814
std,2039.453778,2.711898e+05,1.375630e+05,1.337169e+05,25.522248,26.812660,2.074947,1.783890e+05,9.577872,3.512463e+05,1.823492e+05,1.688725e+05,66.068127,49.687341,2.948336,2.023120e+05,2.098908
min,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,425.000000,5.093450e+04,2.712725e+04,2.397900e+04,1.000000,101.105000,5.700000,3.527350e+04,1.440000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000
50%,882.000000,1.652410e+05,8.413450e+04,8.204400e+04,10.000000,105.285000,6.310000,1.172065e+05,2.030000,4.325450e+04,2.198000e+04,2.099900e+04,3.000000,103.195000,5.755000,2.129800e+04,1.855000
75%,1734.250000,3.129112e+05,1.605022e+05,1.522190e+05,25.000000,108.347500,7.200000,2.130542e+05,2.812500,1.178148e+05,6.030175e+04,5.746525e+04,19.000000,107.040000,6.340000,6.542225e+04,2.985000
max,18374.000000,2.297375e+06,1.172995e+06,1.124167e+06,213.000000,139.380000,12.430000,1.044035e+06,100.000000,3.653616e+06,1.905921e+06,1.746900e+06,795.000000,297.810000,10.060000,2.075867e+06,19.780000

In [8]:
df.isnull().sum()

PROVINCE                      0
DIVISION                      0
DISTRICT                      0
SUB DIVISION                  0
AREA (sq.km)                  0
ALL SEXES (RURAL)             0
MALE (RURAL)                  0
FEMALE (RURAL)                0
TRANSGENDER (RURAL)           0
SEX RATIO (RURAL)             0
AVG HOUSEHOLD SIZE (RURAL)    0
POPULATION 1998 (RURAL)       0
ANNUAL GROWTH RATE (RURAL)    0
ALL SEXES (URBAN)             0
MALE (URBAN)                  0
FEMALE (URBAN)                0
TRANSGENDER (URBAN)           0
SEX RATIO (URBAN)             0
AVG HOUSEHOLD SIZE (URBAN)    0
POPULATION 1998 (URBAN)       0
ANNUAL GROWTH RATE (URBAN)    0
dtype: int64

In [9]:
df.shape

(528, 21)

In [38]:
list1=df.columns.tolist()

In [19]:
# calculate sum of all columns
df.sum()

PROVINCE                      PUNJABPUNJABPUNJABPUNJABPUNJABPUNJABPUNJABPUNJ...
DIVISION                      BAHAWALPUR DIVISIONBAHAWALPUR DIVISIONBAHAWALP...
DISTRICT                      BAHAWALNAGAR DISTRICTBAHAWALNAGAR DISTRICTBAHA...
SUB DIVISION                  BAHAWALNAGAR TEHSILCHISHTIAN TEHSILFORT ABBAS ...
AREA (sq.km)                                                           787779.1
ALL SEXES (RURAL)                                                     130034790
MALE (RURAL)                                                           66145563
FEMALE (RURAL)                                                         63879631
TRANSGENDER (RURAL)                                                        9596
SEX RATIO (RURAL)                                                      52262.82
AVG HOUSEHOLD SIZE (RURAL)                                              3314.29
POPULATION 1998 (RURAL)                                                88401981
ANNUAL GROWTH RATE (RURAL)                                              1649.89
ALL SEXES (URBAN)                                                      74375943
MALE (URBAN)                                                           38461308
FEMALE (URBAN)                                                         35902873
TRANSGENDER (URBAN)                                                       11762
SEX RATIO (URBAN)                                                      39817.15
AVG HOUSEHOLD SIZE (URBAN)                                              2326.58
POPULATION 1998 (URBAN)                                                42316331
ANNUAL GROWTH RATE (URBAN)                                              1014.19
dtype: object

In [20]:
df.columns.value_counts()

PROVINCE                      1
DIVISION                      1
DISTRICT                      1
SUB DIVISION                  1
AREA (sq.km)                  1
ALL SEXES (RURAL)             1
MALE (RURAL)                  1
FEMALE (RURAL)                1
TRANSGENDER (RURAL)           1
SEX RATIO (RURAL)             1
AVG HOUSEHOLD SIZE (RURAL)    1
POPULATION 1998 (RURAL)       1
ANNUAL GROWTH RATE (RURAL)    1
ALL SEXES (URBAN)             1
MALE (URBAN)                  1
FEMALE (URBAN)                1
TRANSGENDER (URBAN)           1
SEX RATIO (URBAN)             1
AVG HOUSEHOLD SIZE (URBAN)    1
POPULATION 1998 (URBAN)       1
ANNUAL GROWTH RATE (URBAN)    1
Name: count, dtype: int64

In [21]:
#count number of columns 
df.count()

PROVINCE                      528
DIVISION                      528
DISTRICT                      528
SUB DIVISION                  528
AREA (sq.km)                  528
ALL SEXES (RURAL)             528
MALE (RURAL)                  528
FEMALE (RURAL)                528
TRANSGENDER (RURAL)           528
SEX RATIO (RURAL)             528
AVG HOUSEHOLD SIZE (RURAL)    528
POPULATION 1998 (RURAL)       528
ANNUAL GROWTH RATE (RURAL)    528
ALL SEXES (URBAN)             528
MALE (URBAN)                  528
FEMALE (URBAN)                528
TRANSGENDER (URBAN)           528
SEX RATIO (URBAN)             528
AVG HOUSEHOLD SIZE (URBAN)    528
POPULATION 1998 (URBAN)       528
ANNUAL GROWTH RATE (URBAN)    528
dtype: int64

In [22]:
#total no. columns
df.shape[1]

21

In [23]:
df.to_excel('population.xlsx', index=False)

In [24]:
df.columns

Index(['PROVINCE', 'DIVISION', 'DISTRICT', 'SUB DIVISION', 'AREA (sq.km)',
       'ALL SEXES (RURAL)', 'MALE (RURAL)', 'FEMALE (RURAL)',
       'TRANSGENDER (RURAL)', 'SEX RATIO (RURAL)',
       'AVG HOUSEHOLD SIZE (RURAL)', 'POPULATION 1998 (RURAL)',
       'ANNUAL GROWTH RATE (RURAL)', 'ALL SEXES (URBAN)', 'MALE (URBAN)',
       'FEMALE (URBAN)', 'TRANSGENDER (URBAN)', 'SEX RATIO (URBAN)',
       'AVG HOUSEHOLD SIZE (URBAN)', 'POPULATION 1998 (URBAN)',
       'ANNUAL GROWTH RATE (URBAN)'],
      dtype='object')

In [25]:
df.shape

(528, 21)

In [30]:
df2=pd.DataFrame(data=[[1,2,3],[2,1,3]], columns=['a','b','C'])
df2

   a  b  C
0  1  2  3
1  2  1  3

In [31]:
df3 = pd.DataFrame({'A': [1,2,3,4,5,6,7], 'B':[1,4,6,8,9,3,5]})
df3

   A  B
0  1  1
1  2  4
2  3  6
3  4  8
4  5  9
5  6  3
6  7  5

In [ ]:
# METHOD 1 numpy array to create data fame
import numpy as np
arr= np.array([[1,2,3],[3,2,3],[9,3,5]])
df4 =pd.DataFrame(arr)
df4

   0  1  2
0  1  2  3
1  3  2  3
2  9  3  5

In [40]:
del list

In [33]:
# 2ND METHOD TO CREATE DATAFRAME USING NUMPY
pd.DataFrame(np.random.rand(20,4))

           0         1         2         3
0   0.256592  0.820675  0.866677  0.647667
1   0.081172  0.904192  0.856901  0.307846
2   0.410205  0.113245  0.590092  0.835031
3   0.033007  0.586227  0.158277  0.023816
4   0.445816  0.555840  0.967511  0.203875
5   0.385305  0.820378  0.291129  0.110173
6   0.732971  0.127149  0.784531  0.739656
7   0.745151  0.988440  0.378168  0.782816
8   0.026455  0.190792  0.189566  0.117260
9   0.506377  0.027177  0.543182  0.088397
10  0.557336  0.271093  0.938401  0.783979
11  0.728602  0.474909  0.193765  0.026722
12  0.694011  0.670357  0.751632  0.134880
13  0.397362  0.857371  0.082094  0.986879
14  0.571029  0.294814  0.161373  0.502111
15  0.477517  0.318481  0.038448  0.239557
16  0.529710  0.882975  0.916085  0.917396
17  0.214520  0.402567  0.884572  0.571282
18  0.848914  0.051994  0.901936  0.727836
19  0.998827  0.883347  0.482392  0.960048

In [41]:
pd.DataFrame(np.random.rand(20,4), columns = list('abcd'))

           a         b         c         d
0   0.330522  0.573900  0.955332  0.151580
1   0.634972  0.389218  0.294367  0.898225
2   0.354390  0.907560  0.217783  0.007672
3   0.182288  0.825910  0.316961  0.699165
4   0.325284  0.753941  0.934849  0.471310
5   0.911322  0.958381  0.043430  0.505224
6   0.002278  0.618948  0.683054  0.623451
7   0.665440  0.644360  0.629873  0.508729
8   0.696102  0.462100  0.957837  0.028655
9   0.769141  0.079083  0.723991  0.290423
10  0.025862  0.669084  0.352223  0.477905
11  0.886547  0.394261  0.606581  0.816442
12  0.689777  0.516495  0.053496  0.183827
13  0.340012  0.084910  0.830264  0.234246
14  0.129308  0.447154  0.441973  0.143230
15  0.584995  0.633458  0.899105  0.584998
16  0.424514  0.502157  0.339273  0.206947
17  0.992830  0.156457  0.760722  0.787198
18  0.570530  0.229314  0.396386  0.921855
19  0.304715  0.381858  0.637086  0.914669

In [43]:
df5=pd.DataFrame(np.random.rand(20,4), columns = ['a','b', 'c','d'])
df5

           a         b         c         d
0   0.802199  0.124974  0.752548  0.300017
1   0.959974  0.867581  0.233361  0.405740
2   0.450739  0.074581  0.353026  0.109201
3   0.472595  0.776408  0.762812  0.595441
4   0.971321  0.490134  0.549575  0.079088
5   0.459119  0.031718  0.009593  0.631495
6   0.289125  0.775377  0.217866  0.562443
7   0.157548  0.327930  0.922223  0.511858
8   0.934737  0.004529  0.365474  0.710323
9   0.019793  0.948360  0.178380  0.430021
10  0.455506  0.975067  0.332076  0.779880
11  0.040653  0.808777  0.608680  0.425652
12  0.611120  0.484032  0.017150  0.641278
13  0.366800  0.571115  0.121658  0.204653
14  0.979588  0.595709  0.972172  0.848056
15  0.538854  0.939380  0.540043  0.691045
16  0.192686  0.893995  0.458925  0.402613
17  0.229214  0.580811  0.693375  0.786203
18  0.077762  0.372477  0.602157  0.795661
19  0.709118  0.330879  0.435299  0.753052

In [48]:
# rename clolumns of df5
df5.rename(columns = {'a' : 'col_A', 'b' : 'col_B',  'c': 'col_C', 'd': 'col_D'}, inplace=True)

df5

       col_A     col_B     col_C     col_D
0   0.802199  0.124974  0.752548  0.300017
1   0.959974  0.867581  0.233361  0.405740
2   0.450739  0.074581  0.353026  0.109201
3   0.472595  0.776408  0.762812  0.595441
4   0.971321  0.490134  0.549575  0.079088
5   0.459119  0.031718  0.009593  0.631495
6   0.289125  0.775377  0.217866  0.562443
7   0.157548  0.327930  0.922223  0.511858
8   0.934737  0.004529  0.365474  0.710323
9   0.019793  0.948360  0.178380  0.430021
10  0.455506  0.975067  0.332076  0.779880
11  0.040653  0.808777  0.608680  0.425652
12  0.611120  0.484032  0.017150  0.641278
13  0.366800  0.571115  0.121658  0.204653
14  0.979588  0.595709  0.972172  0.848056
15  0.538854  0.939380  0.540043  0.691045
16  0.192686  0.893995  0.458925  0.402613
17  0.229214  0.580811  0.693375  0.786203
18  0.077762  0.372477  0.602157  0.795661
19  0.709118  0.330879  0.435299  0.753052

In [50]:
#other methods to rename
df5.columns  =['as','bs', 'cs', 'ds']
df5

          as        bs        cs        ds
0   0.802199  0.124974  0.752548  0.300017
1   0.959974  0.867581  0.233361  0.405740
2   0.450739  0.074581  0.353026  0.109201
3   0.472595  0.776408  0.762812  0.595441
4   0.971321  0.490134  0.549575  0.079088
5   0.459119  0.031718  0.009593  0.631495
6   0.289125  0.775377  0.217866  0.562443
7   0.157548  0.327930  0.922223  0.511858
8   0.934737  0.004529  0.365474  0.710323
9   0.019793  0.948360  0.178380  0.430021
10  0.455506  0.975067  0.332076  0.779880
11  0.040653  0.808777  0.608680  0.425652
12  0.611120  0.484032  0.017150  0.641278
13  0.366800  0.571115  0.121658  0.204653
14  0.979588  0.595709  0.972172  0.848056
15  0.538854  0.939380  0.540043  0.691045
16  0.192686  0.893995  0.458925  0.402613
17  0.229214  0.580811  0.693375  0.786203
18  0.077762  0.372477  0.602157  0.795661
19  0.709118  0.330879  0.435299  0.753052

In [51]:
# replace any character from columns name of df5
df5.columns = df5.columns.str.replace('s','t')
df5

          at        bt        ct        dt
0   0.802199  0.124974  0.752548  0.300017
1   0.959974  0.867581  0.233361  0.405740
2   0.450739  0.074581  0.353026  0.109201
3   0.472595  0.776408  0.762812  0.595441
4   0.971321  0.490134  0.549575  0.079088
5   0.459119  0.031718  0.009593  0.631495
6   0.289125  0.775377  0.217866  0.562443
7   0.157548  0.327930  0.922223  0.511858
8   0.934737  0.004529  0.365474  0.710323
9   0.019793  0.948360  0.178380  0.430021
10  0.455506  0.975067  0.332076  0.779880
11  0.040653  0.808777  0.608680  0.425652
12  0.611120  0.484032  0.017150  0.641278
13  0.366800  0.571115  0.121658  0.204653
14  0.979588  0.595709  0.972172  0.848056
15  0.538854  0.939380  0.540043  0.691045
16  0.192686  0.893995  0.458925  0.402613
17  0.229214  0.580811  0.693375  0.786203
18  0.077762  0.372477  0.602157  0.795661
19  0.709118  0.330879  0.435299  0.753052

In [52]:
# ADDING PREFIX COLUMNS NAME
df5=df5.add_prefix('baba_')
df5

     baba_at   baba_bt   baba_ct   baba_dt
0   0.802199  0.124974  0.752548  0.300017
1   0.959974  0.867581  0.233361  0.405740
2   0.450739  0.074581  0.353026  0.109201
3   0.472595  0.776408  0.762812  0.595441
4   0.971321  0.490134  0.549575  0.079088
5   0.459119  0.031718  0.009593  0.631495
6   0.289125  0.775377  0.217866  0.562443
7   0.157548  0.327930  0.922223  0.511858
8   0.934737  0.004529  0.365474  0.710323
9   0.019793  0.948360  0.178380  0.430021
10  0.455506  0.975067  0.332076  0.779880
11  0.040653  0.808777  0.608680  0.425652
12  0.611120  0.484032  0.017150  0.641278
13  0.366800  0.571115  0.121658  0.204653
14  0.979588  0.595709  0.972172  0.848056
15  0.538854  0.939380  0.540043  0.691045
16  0.192686  0.893995  0.458925  0.402613
17  0.229214  0.580811  0.693375  0.786203
18  0.077762  0.372477  0.602157  0.795661
19  0.709118  0.330879  0.435299  0.753052

In [53]:
# suffix
df5 = df5.add_suffix('_tata')
df5

    baba_at_tata  baba_bt_tata  baba_ct_tata  baba_dt_tata
0       0.802199      0.124974      0.752548      0.300017
1       0.959974      0.867581      0.233361      0.405740
2       0.450739      0.074581      0.353026      0.109201
3       0.472595      0.776408      0.762812      0.595441
4       0.971321      0.490134      0.549575      0.079088
5       0.459119      0.031718      0.009593      0.631495
6       0.289125      0.775377      0.217866      0.562443
7       0.157548      0.327930      0.922223      0.511858
8       0.934737      0.004529      0.365474      0.710323
9       0.019793      0.948360      0.178380      0.430021
10      0.455506      0.975067      0.332076      0.779880
11      0.040653      0.808777      0.608680      0.425652
12      0.611120      0.484032      0.017150      0.641278
13      0.366800      0.571115      0.121658      0.204653
14      0.979588      0.595709      0.972172      0.848056
15      0.538854      0.939380      0.540043      0.691045
16      0.192686      0.893995      0.458925      0.402613
17      0.229214      0.580811      0.693375      0.786203
18      0.077762      0.372477      0.602157      0.795661
19      0.709118      0.330879      0.435299      0.753052

In [55]:
#USING TEMPLATE DATA
import seaborn as sns
df=sns.load_dataset('titanic')

In [56]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [58]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200